<!DOCTYPE html> 
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <!-- Basic Website Meta Information -->  
    <title>SkarLett <%= head_page_title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msvalidate.01" content="8988B9B4E0B2458058C682C1B6F436E3" />
    <meta name="google-site-verification" content="_S9L-XOEJHjXY2NWYcmggIHtDw6NBKGPmVoGVAApMws" />
    <meta name="description" content="Through hands-on coaching and exhortation, ReFresh networks provide an uplifting opportunity for pastors and their wives to become healthy again... To believe again... To be passionate again... Recognize they are not alone!" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://s3-us-west-1.amazonaws.com/skar-lett.com/shared/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://s3-us-west-1.amazonaws.com/skar-lett.com/shared/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://s3-us-west-1.amazonaws.com/skar-lett.com/shared/img/favicon-16x16.png">
    <link rel="manifest" href="https://s3-us-west-1.amazonaws.com/skar-lett.com/shared/img/manifest.json">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="<%= request.original_url %>" />
    <!-- End Basic Website Meta Information -->  

    <!-- Apple Application Meta Information -->    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="SkarLett">
    <link rel="apple-touch-icon" sizes="57x57" href="https://s3-us-west-1.amazonaws.com/skar-lett.com/shared/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://s3-us-west-1.amazonaws.com/skar-lett.com/shared/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://s3-us-west-1.amazonaws.com/skar-lett.com/shared/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://s3-us-west-1.amazonaws.com/skar-lett.com/shared/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://s3-us-west-1.amazonaws.com/skar-lett.com/shared/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://s3-us-west-1.amazonaws.com/skar-lett.com/shared/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://s3-us-west-1.amazonaws.com/skar-lett.com/shared/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://s3-us-west-1.amazonaws.com/skar-lett.com/shared/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://s3-us-west-1.amazonaws.com/skar-lett.com/shared/img/apple-icon-180x180.png">
    <!-- End Apple Application Meta Information -->
    
    <!-- Android Application Meta Information -->    
    <link rel="icon" type="image/png" sizes="192x192"  href="https://s3-us-west-1.amazonaws.com/skar-lett.com/shared/img/android-icon-192x192.png">
    <!-- End Android Application Meta Information --> 
    
    <!-- OpenGraph Meta Information -->
    <meta property="og:title" content="SkarLett <%= head_page_title %>" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="SkarLett" />
    <meta property="og:image" content="https://drqkr2smv75b.cloudfront.net/shared/images/ReFresh_Logo_SM.jpg" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Through hands-on coaching and exhortation, ReFresh networks provide an uplifting opportunity for pastors and their wives to become healthy again... To believe again... To be passionate again... Recognize they are not alone!" />   
    <meta property="og:url" content="<%= request.original_url %>" />
    <!-- End OpenGraph Meta Information -->
    
    <!-- Microsoft Application Meta Information -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://s3-us-west-1.amazonaws.com/skar-lett.com/shared/img/ms-icon-144x144.png">
    <!-- End Microsoft Application Meta Information -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= csrf_meta_tags %>
  </head>
  <body class='<%= controller.controller_name %>'>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar">
    
          <section class="middle tab-bar-section">
            <h1 class="title">SkarLett</h1>
          </section>
    
          <section class="right-small">
            <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>
        </nav>
        
      <aside class="right-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Site Navigation</label></li>
          <li><a href="/">Home</a></li>
          <li><a href="/responses">Responses</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </aside>
  
      <section class="main-section">
        <div class="row">
          <div class="small-12 columns">