<h1 class="top_h1"><%= page_title %></h1>
<div class="video-curriculum">

  <div class="row">
    <div class="small-12 columns text-center">
      <p class="text-justify">
        Join the millions who have been impacted by this message. The issue of offense is often the most difficult 
        obstacle an individual must face and overcome. Jesus said, "It is impossible that no offenses should come" 
        (Luke 17:1). You cannot choose whether or not you will be offended, but you can choose how you will respond. 
        This message will empower you to stay free from offense and enable you to have an unhindered relationship with God.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="small-12 columns text-center">
      <h2>Lesson 1 - The Bait of Offense</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="bait_of_satan_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="710" height="480" poster="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/bait_of_satan.jpg"
         data-setup="{}">
         <source src="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/The_Bait_of_Satan_Lesson1.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 2 - How Could This Happen To Me?</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="bait_of_satan_part_2" class="video-js vjs-default-skin" controls
         preload="metadata" width="710" height="480" poster="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/bait_of_satan.jpg"
         data-setup="{}">
         <source src="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/The_Bait_of_Satan_Lesson2.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 3 - My Father, My Father</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="bait_of_satan_part_3" class="video-js vjs-default-skin" controls
         preload="metadata" width="710" height="480" poster="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/bait_of_satan.jpg"
         data-setup="{}">
         <source src="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/The_Bait_of_Satan_Lesson3.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 4 - How Spiritual Vagabonds Are Born</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="bait_of_satan_part_4" class="video-js vjs-default-skin" controls
         preload="metadata" width="710" height="480" poster="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/bait_of_satan.jpg"
         data-setup="{}">
         <source src="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/The_Bait_of_Satan_Lesson4.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 5 - Hiding From Reality</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="bait_of_satan_part_5" class="video-js vjs-default-skin" controls
         preload="metadata" width="710" height="480" poster="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/bait_of_satan.jpg"
         data-setup="{}">
         <source src="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/The_Bait_of_Satan_Lesson5.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 6 - The Sure Foundation</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="bait_of_satan_part_6" class="video-js vjs-default-skin" controls
         preload="metadata" width="710" height="480" poster="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/bait_of_satan.jpg"
         data-setup="{}">
         <source src="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/The_Bait_of_Satan_Lesson6.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 7 - All That Can Be Shaken Will Be Shaken</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="bait_of_satan_part_7" class="video-js vjs-default-skin" controls
         preload="metadata" width="710" height="480" poster="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/bait_of_satan.jpg"
         data-setup="{}">
         <source src="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/The_Bait_of_Satan_Lesson7.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 8 - The Rock of Offense</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="bait_of_satan_part_8" class="video-js vjs-default-skin" controls
         preload="metadata" width="710" height="480" poster="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/bait_of_satan.jpg"
         data-setup="{}">
         <source src="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/The_Bait_of_Satan_Lesson8.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 9 - Lest We Offend Them</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="bait_of_satan_part_9" class="video-js vjs-default-skin" controls
         preload="metadata" width="710" height="480" poster="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/bait_of_satan.jpg"
         data-setup="{}">
         <source src="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/The_Bait_of_Satan_Lesson9.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 10 - Forgiveness: You Don't Give - You Don't Get</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="bait_of_satan_part_10" class="video-js vjs-default-skin" controls
         preload="metadata" width="710" height="480" poster="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/bait_of_satan.jpg"
         data-setup="{}">
         <source src="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/The_Bait_of_Satan_Lesson10.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 11 - Revenge: The Trap</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="bait_of_satan_part_11" class="video-js vjs-default-skin" controls
         preload="metadata" width="710" height="480" poster="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/bait_of_satan.jpg"
         data-setup="{}">
         <source src="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/The_Bait_of_Satan_Lesson11.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
  
    <div class="small-12 columns text-center">
      <h2>Lesson 12 - Escaping The Trap</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="bait_of_satan_part_12" class="video-js vjs-default-skin" controls
         preload="metadata" width="710" height="480" poster="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/bait_of_satan.jpg"
         data-setup="{}">
         <source src="<%= assets_link('bb') %>/biblical/curriculum/bait_of_satan/The_Bait_of_Satan_Lesson12.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>

  </div>
</div>