<h1 class="top_h1"><%= page_title %></h1>
<div class="row">
  <div class="small-12 large-6 columns">
    <h2>Curriculum/Series</h2>
    <ol>
      <li><a href="/admin/training/holy_spirit">John Bevere - Holy Spirit</a></li>
      <li><a href="/admin/training/under_cover">John Bevere - Under Cover</a></li>
      <li><a href="/admin/training/bait_of_satan">John Bevere - The Bait of Satan</a></li>
      <li><a href="/admin/training/my_best_friend">Robert Morris - My Best Friend</a></li>
    </ol>
  </div>
  <div class="small-12 large-6 columns">
    <h2>Books</h2>
    <ol>
      <li>Russell Moore - Adoption <a href="<%= assets_link('skarlett') %>/biblical/books/Adoption/adoption-complete-ebook.pdf">PDF</a> | 
                                   <a href="<%= assets_link('skarlett') %>/biblical/books/Adoption/adoption-ebook-in-epub-format.epub">EPUB</a> | 
                                   <a href="<%= assets_link('skarlett') %>/biblical/books/Adoption/adoption-ebook-in-mobi-format.mobi">MOBI</a>
      </li>
      <li>The Daniel Plan <a href="<%= assets_link('skarlett') %>/biblical/books/The_Daniel_Plan/The_Daniel_Plan.pdf">PDF</a></li>
      <li>The Daniel Plan Cookbook <a href="<%= assets_link('skarlett') %>/biblical/books/The_Daniel_Plan/The_Daniel_Plan_Cookbook.pdf">PDF</a></li>
      <li>TGC - Foundation Documents <a href="<%= assets_link('skarlett') %>/biblical/books/Gospel_Coalition/Foundation_Documents.pdf">PDF</a></li>
      <li>TGC - Gospel-Centered Ministry <a href="<%= assets_link('skarlett') %>/biblical/books/Gospel_Coalition/Gospel_Centered_Ministry.pdf">PDF</a></li>
      <li>TGC - The Restoration of All Things <a href="<%= assets_link('skarlett') %>/biblical/books/Gospel_Coalition/The_Restoration_of_All_Things.pdf">PDF</a></li>
      <li>TGC - The Church: God's New People <a href="<%= assets_link('skarlett') %>/biblical/books/Gospel_Coalition/The_Church_Gods_New_People.pdf">PDF</a></li>
      <li>TGC - Creation <a href="<%= assets_link('skarlett') %>/biblical/books/Gospel_Coalition/Creation.pdf">PDF</a></li>
      <li>TGC - The Holy Spirit <a href="<%= assets_link('skarlett') %>/biblical/books/Gospel_Coalition/The_Holy_Spirit.pdf">PDF</a></li>
      <li>TGC - What Is The Gospel? <a href="<%= assets_link('skarlett') %>/biblical/books/Gospel_Coalition/What_Is_the_Gospel.pdf">PDF</a></li>
      <li>TGC - The Plan <a href="<%= assets_link('skarlett') %>/biblical/books/Gospel_Coalition/What_Is_the_Gospel.pdf">PDF</a></li>
      <li>TGC - Can We Know Truth? <a href="<%= assets_link('skarlett') %>/biblical/books/Gospel_Coalition/Can_We_Know_Truth.pdf">PDF</a></li>
      <li>TGC - Sin and the Fall <a href="<%= assets_link('skarlett') %>/biblical/books/Gospel_Coalition/Sin_and_the_Fall.pdf">PDF</a></li>
      <li>TGC - Christ's Redemption <a href="<%= assets_link('skarlett') %>/biblical/books/Gospel_Coalition/Christs_Redemption.pdf">PDF</a></li>
      <li>TGC - Justification <a href="<%= assets_link('skarlett') %>/biblical/books/Gospel_Coalition/Justification.pdf">PDF</a></li>
      <li>TGC - Baptism and The Lord's Supper <a href="<%= assets_link('skarlett') %>/biblical/books/Gospel_Coalition/Baptism_and_the_Lords_Supper.pdf">PDF</a></li>
      <li>TGC - The Gospel and Scripture: How To Read the Bible <a href="http://assets.barker-bunch.us/biblical/books/Gospel_Coalition/The_Gospel_and_Scripture_How_to_Read_the_Bible.pdf">PDF</a></li>
      <li>TGC - The Kingdom of God <a href="<%= assets_link('skarlett') %>/biblical/books/Gospel_Coalition/The_Kingdom_of_God.pdf">PDF</a></li>
    </ol>
  </div>
</div>