<h1 class="top_h1"><%= page_title %></h1>
<div class="video-curriculum">
  <div class="row">

    <div class="row">
      <div class="small-12 columns">
        <h2 class="text-center">The Holy Spirit</h2>
        <p class="text-justify">
          Who is the Holy Spirit, and what exactly does He do? These are questions that countless believers struggle 
          with answering. Most don’t realize the Holy Spirit is a person who thinks, feels and has desires. What’s 
          more, the Holy Spirit is present to help you live the Christian life. He’s there to give comfort, help and 
          friendship … He’s your Best Friend. Join Pastor Robert Morris for the Gateway Series, My Best Friend—The 
          Holy Spirit, as he clears up misconceptions about the Holy Spirit and insightfully explains who the 
          Holy Spirit is and that He wants to be your Best Friend. Through this revealing series, you’ll not only gain 
          a greater understanding of who the Holy Spirit is, but also who you are in Him!
        </p>
      </div>
    </div>

    <div class="small-12 columns text-center">
      <h2>Lesson 1 - The Holy Spirit: Who Is He?</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="my_best_friend_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="948" height="540" poster="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/my_best_friend.jpg"
         data-setup="{}">
         <source src="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/Spirit/20090110_WhoIsHe.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 2 - The Holy Spirit: Is He A Person?</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="my_best_friend_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="948" height="540" poster="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/my_best_friend.jpg"
         data-setup="{}">
         <source src="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/Spirit/20090117_IsHeAPerson.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 3 - The Holy Spirit: Is He Pentecostal?</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="my_best_friend_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="948" height="540" poster="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/my_best_friend.jpg"
         data-setup="{}">
         <source src="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/Spirit/20090124_IsHePentecostal.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 4 - The Holy Spirit: Does He Baptize?</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="my_best_friend_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="948" height="540" poster="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/my_best_friend.jpg"
         data-setup="{}">
         <source src="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/Spirit/20090131_DoesHeBaptize.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 5 - The Holy Spirit: Is He Charismatic?</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="my_best_friend_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="948" height="540" poster="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/my_best_friend.jpg"
         data-setup="{}">
         <source src="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/Spirit/20090207_IsHeCharismatic.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 6 - The Holy Spirit: Does He Speak In Tongues?</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="my_best_friend_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="948" height="540" poster="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/my_best_friend.jpg"
         data-setup="{}">
         <source src="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/Spirit/20090214_DoesHeSpeakInTongues.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <h2 class="text-center">The Son</h2>
        <p class="text-justify">
          What makes someone your best friend? A best friend is someone who completely understands you and what you’re 
          going through. Someone who truly cares about you. Someone who’s been where you’ve been, walked where you 
          walked, seen what you’ve seen and felt what you’ve felt. Join Pastor Robert Morris and others for the 
          Gateway Series, My Best Friend—The Son, as they show you how Jesus is the absolute Best Friend you will ever 
          have! Through this seven-part series, you’ll gain a new understanding of who Jesus is as well as who you are 
          in Him.
        </p>
      </div>
    </div>

    <div class="small-12 columns text-center">
      <h2>Lesson 7 - The Son: The Carpenter</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="my_best_friend_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="948" height="540" poster="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/my_best_friend.jpg"
         data-setup="{}">
         <source src="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/Son/20090314_TheCarpenter.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 8 - The Son: The Shepherd</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="my_best_friend_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="948" height="540" poster="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/my_best_friend.jpg"
         data-setup="{}">
         <source src="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/Son/20090321_TheShepherd.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 9 - The Son: My Daily Bread</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="my_best_friend_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="948" height="540" poster="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/my_best_friend.jpg"
         data-setup="{}">
         <source src="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/Son/20090328_MyDailyBread.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 10 - The Son: The Teacher</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="my_best_friend_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="948" height="540" poster="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/my_best_friend.jpg"
         data-setup="{}">
         <source src="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/Son/20090404_TheTeacher.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
   
    <div class="small-12 columns text-center">
      <h2>Lesson 11 - The Son: The Lamb</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="my_best_friend_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="948" height="540" poster="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/my_best_friend.jpg"
         data-setup="{}">
         <source src="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/Son/20090411_TheLamb.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 12 - The Son: The Messiah</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="my_best_friend_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="948" height="540" poster="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/my_best_friend.jpg"
         data-setup="{}">
         <source src="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/Son/20090418_TheMessiah.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
   
    <div class="small-12 columns text-center">
      <h2>Lesson 13 - The Son: The Physician</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="my_best_friend_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="948" height="540" poster="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/my_best_friend.jpg"
         data-setup="{}">
         <source src="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/Son/20090425_ThePhysician.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>

    <div class="row">
      <div class="small-12 columns">
        <h2 class="text-center">The Father</h2>
        <p class="text-justify">
          Many people have a distorted perception of who God the Father really is. They think that He is a God of 
          wrath and that Jesus is somehow holding Him back from unleashing His judgment. But that’s not at all who 
          the Bible says He is. Join Pastors Robert Morris and Tom Lane for the Gateway Series, My Best Friend—The 
          Father, as they show you what the Bible says about the unique attributes and characteristics that belong to 
          God the Father. Through this six-part series, your relationship with the Father will be transformed as you 
          gain a true picture of who He really is!
        </p>
      </div>
    </div>

    <div class="small-12 columns text-center">
      <h2>Lesson 14 - The Father: The Father Is Good</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="my_best_friend_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="948" height="540" poster="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/my_best_friend.jpg"
         data-setup="{}">
         <source src="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/Father/20090502_TheFatherIsGood.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 15 - The Father: The Father Is Omni</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="my_best_friend_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="948" height="540" poster="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/my_best_friend.jpg"
         data-setup="{}">
         <source src="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/Father/20090509_TheFatherIsOmni.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 16 - The Father: The Father Is Sovereign</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="my_best_friend_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="948" height="540" poster="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/my_best_friend.jpg"
         data-setup="{}">
         <source src="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/Father/20090516_TheFatherIsSovereign.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 17 - The Father: The Father Is Just and Merciful</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="my_best_friend_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="948" height="540" poster="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/my_best_friend.jpg"
         data-setup="{}">
         <source src="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/Father/20090523_TheFatherIsJustAndMerciful.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 18 - The Father: The Father Is Love</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="my_best_friend_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="948" height="540" poster="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/my_best_friend.jpg"
         data-setup="{}">
         <source src="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/Father/20090530_TheFatherIsLove.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>
    
    <div class="small-12 columns text-center">
      <h2>Lesson 19 - The Father: The Father Is Jehovah Jireh</h2>
      <div class="flex-video">
        <video style="margin-left: auto; margin-right: auto;" id="my_best_friend_part_1" class="video-js vjs-default-skin" controls
         preload="metadata" width="948" height="540" poster="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/my_best_friend.jpg"
         data-setup="{}">
         <source src="<%= assets_link('skarlett') %>/biblical/curriculum/my_best_friend/Father/20090606_TheFatherIsJehovahJireh.mp4" type='video/mp4'>
         <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
        </video>
      </div>
    </div>

  </div>
</div>