<h1 class="top_h1"><%= page_title %></h1>

<div class="row">
  <div class="small-12 columns">
    <table style="width: 100%;">
      <thead>
        <tr>
          <th>Date</th>
          <th>Title</th>
          <th>Time</th>
          <th>Address</th>
        </tr>
      </thead>
      <tbody>
        <% @events.each do |event| %>
          <% if event.date > Date.today %>
          <tr>
            <td><%= event.date %></td>
            <td><%= event.title %></td>
            <td><%= event.time.strftime("%l:%M%p") %></td>
            <td><%= event.address %></td>
          </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
    <p style="text-align: right;"><a class="button" href="/events/past">View Past Events</a></p>
  </div>
</div>