<h1 class="text-center" style="border-top: 1px solid #FFFFFF; border-bottom: 1px solid #FFFFFF;">Thank You For Contacting SkarLett</h1>

<div>
  <p>You sent us the following information:</p>
</div>

<div>
  <p>Name: <span class="sk-red_dark"><%= @user.name.titleize %></span></p>
</div>

<div>
  <p>Email Address: <a href="mailto:<%= @user.email %>"><%= @user.email %></a></p>
</div>

<div>
  <p>Subject: <span class="sk-red_dark"><%= @user.subject.titleize %></span></p>
</div>

<hr />

<div>
  <p><span class="sk-red_dark" style="font-weight: bold;"><%= @user.name.titleize %></span> says this:</p>
  <%=raw @user.memo %>
</div>