<!DOCTYPE html> 
<!--[if IE 9]><html class="lt-ie10" lang="en" > <![endif]-->
<html class="no-js" lang="en" >
  <head>
    <!-- Basic Website Meta Information -->  
    <title>SkarLett <%= head_page_title %></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="msvalidate.01" content="8988B9B4E0B2458058C682C1B6F436E3" />
    <meta name="google-site-verification" content="_S9L-XOEJHjXY2NWYcmggIHtDw6NBKGPmVoGVAApMws" />
    <meta name="description" content="" />
    <link rel="icon" type="image/png" sizes="32x32" href="https://d1nvel87k8rw67.cloudfront.net/shared/img/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="https://d1nvel87k8rw67.cloudfront.net/shared/img/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://d1nvel87k8rw67.cloudfront.net/shared/img/favicon-16x16.png">
    <link rel="manifest" href="https://d1nvel87k8rw67.cloudfront.net/shared/img/manifest.json">
    <meta name="theme-color" content="#ffffff">
    <link rel="canonical" href="<%= request.original_url %>" />
    <!-- End Basic Website Meta Information -->  

    <!-- Apple Application Meta Information -->    
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="SkarLett">
    <link rel="apple-touch-icon" sizes="57x57" href="https://d1nvel87k8rw67.cloudfront.net/shared/img/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://d1nvel87k8rw67.cloudfront.net/shared/img/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://d1nvel87k8rw67.cloudfront.net/shared/img/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://d1nvel87k8rw67.cloudfront.net/shared/img/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://d1nvel87k8rw67.cloudfront.net/shared/img/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://d1nvel87k8rw67.cloudfront.net/shared/img/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://d1nvel87k8rw67.cloudfront.net/shared/img/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://d1nvel87k8rw67.cloudfront.net/shared/img/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="https://d1nvel87k8rw67.cloudfront.net/shared/img/apple-icon-180x180.png">
    <!-- End Apple Application Meta Information -->
    
    <!-- Android Application Meta Information -->    
    <link rel="icon" type="image/png" sizes="192x192"  href="https://d1nvel87k8rw67.cloudfront.net/shared/img/android-icon-192x192.png">
    <!-- End Android Application Meta Information --> 
    
    <!-- OpenGraph Meta Information -->
    <meta property="og:title" content="SkarLett <%= head_page_title %>" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:site_name" content="SkarLett" />
    <meta property="og:image" content="https://d1nvel87k8rw67.cloudfront.net/shared/images/SkarLett_Cropped_XSmall.png" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="" />   
    <meta property="og:url" content="<%= request.original_url %>" />
    <!-- End OpenGraph Meta Information -->
    
    <!-- Microsoft Application Meta Information -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="https://d1nvel87k8rw67.cloudfront.net/shared/img/ms-icon-144x144.png">
    <!-- End Microsoft Application Meta Information -->

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <script src="//use.edgefonts.net/alex-brush:n4:all.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body class='<%= controller.controller_name %>'>
    <div class="off-canvas-wrap" data-offcanvas>
      <div class="inner-wrap">
        <nav class="tab-bar">
          
          <section class="left-small">
            <a class="left-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>
    
          <section class="middle tab-bar-section">
            <h1 id="logo">Skar<span>&#x2764;</span>Lett</h1>
          </section>
          
          <section class="right-small">
            <a class="right-off-canvas-toggle menu-icon" href="#"><span></span></a>
          </section>

        </nav>
      
      <!-- Begin Leftside Navigation -->
      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Site Navigation</label></li>
          <li><a href="/responses">Responses</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </aside>
      <!-- End Leftside Navigation -->
      
      <!-- Begin Rightside Navigation -->
      <aside class="right-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Site Navigation</label></li>
          <li><a href="/responses">Responses</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </aside>
      <!-- End Rightside Navigation -->
      
      <!-- Begin Expander Frontpage Display -->
      <div style="display:none;" id="expander">
        <div style="display:none;" id="expander_inner" class="row">
          <div class="small-12 columns text-center" style="margin-bottom: 20px;">
            <img src="https://d1nvel87k8rw67.cloudfront.net/www/img/847726029997large-300x300.jpg" />
          </div>
          <div class="row">
            <p id="available_at" class="small-12 large-12 columns">Available At These Locations</p>
            <p class="small-12 medium-3 large-3 columns button">
              <a target="_blank" href="https://play.google.com/store/music/album/SkarLett_I_Am_Yours?id=Bew4ppnp7y3bxkd7eucrwlgp4ym">Google Play</a>
            </p>
            <p class="small-12 medium-4 medium-offset-1 large-4 large-offset-1 columns button">
              <a target="_blank" href="https://tatemusicgroup.com/store/album/847726029997">Tate Music Group</a>
            </p>
            <p class="small-12 medium-3 medium-offset-1 large-3 large-offset-1 columns button">
              <a target="_blank" href="https://itunes.apple.com/us/album/i-am-yours/id931652382">Apple iTunes</a>
            </p>
          </div>
        </div>
      </div>
      <!-- End Expander Frontpage Display -->
      
      <!-- Begin Main Display Section Of The Site -->
      <section class="main-section">
        
        <!-- Begin Flash Message Container -->
        <div class="row">
          <div style="color: red; text-align: center;" id="notice" class="small-12 columns">
            <% flash.each do |name, msg| %>
              <%= content_tag :div, msg, :id => "flash_#{name}" %>
            <% end %>
          </div>
        </div>
        <!-- End Flash Message Container -->
        
        <!-- Begin Content Output -->
        <%= yield %>
        <!-- End Content Output -->
        
      </section>
      <!-- End Main Display Section Of The Site -->
      <a class="exit-off-canvas"></a>
      </div>
      <!-- End Inner Wrap -->
    </div>
    <!-- End Off Canvas Wrap -->
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <script type="text/javascript">
      var body = $('body').height();
      var bodyminus = body - 91;
        //Background Image
      $('#expander').backstretch('https://d1nvel87k8rw67.cloudfront.net/www/img/fullstage2_bw_blur.jpg').css({'min-height' : bodyminus}).show(1, function(){
        $('#expander_inner').fadeIn(1000);
      });
      $(document).foundation();
    </script>
  </body>
</html>