<h1 class="top_h1"><%= page_title %></h1>
<div class="row">
    <div class="small-12">
      <img id="about_img_band" src="<%= aws_link('cloudfront') %>/www/img/Skar-Lett-Band.jpg" alt="SkarLett" />
    </div>    
    <div class="small-12 columns">
      <p id="band_names">Jared &#x2764; Amy &#x2764; Trevor &#x2764; Cassie &#x2764; Corey</p>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <img id="about_img_1" src="<%= aws_link('cloudfront') %>/www/img/Fretboard-1024x682.jpg" alt="Fretboard" />
    </div>
    <div class="small-12 medium-6 large-8 columns">
      <h2>Our Background</h2>
      <p id="about_p_1">
        SkarLett is a Contemporary Christian band from Moncks Corner, SC that has been writing and performing original music for over 10 years. 
        Much of their music stems from their personal life experiences that have been fundamental in their development. As God has helped them 
        successfully navigate situations life brings, He has also developed their hearts to offer hope to others through music. It has been said 
        that their songs have those great ‘one-liners’ that resound inside you even after the music is done. SkarLett says:
      </p>
    </div>
    
    <div class="small-12 columns">
      <p id="full_potential">&#8220;We just want to help others reach their full potential in Christ.&#8221;</p>
    </div>
    
    <div class="small-12 medium-6 large-8 columns">
      <h2>Our Mission</h2>
      <p id="about_p_2">
        SkarLett exists to purify the Bride of Christ. Our desire is to see the Holy Spirit guiding His church freely and without restriction as 
        He was able to in the Acts church. Our guiding principles are based in <a title="Isaiah 61" href="https://www.bible.com/bible/111/isa.61.niv" target="_blank">Isaiah 61</a> 
        with practical application of that coming from <a title="Matthew 10" href="https://www.bible.com/bible/111/mat.10.niv" target="_blank">Matthew 10</a>. 
        We are here to preach the message that the &#8220;Kingdom is here&#8221; and then heal the sick, raise the dead, touch the untouchables, 
        free the captives and release the prisoners. Music is an effective and long lasting format to facilitate the message of a freeing relationship 
        with Jesus Christ through His Holy Spirit.
      </p>
    </div>
    <div class="small-12 medium-6 large-4 columns">
      <img id="about_img_2" src="<%= aws_link('cloudfront') %>/www/img/Cassie_crop.jpg" alt="Cassie Anne Barker" />
    </div>

    <div class="small-12 columns">
      <p id="skarlett_meaning">What does the name SkarLett mean?</p>
    </div>

    <div class="small-12 medium-6 large-4 columns">
      <img id="about_img_3" src="<%= aws_link('cloudfront') %>/www/img/Today2-e1424710184822.jpg" alt="Cassie_Amy" />
    </div>
    <div class="small-12 medium-6 large-8 columns">
      <h2>Our Name</h2>
      <p id="about_p_3">
        The name SkarLett has great significance. A ‘scar’ (skar=Latin root spelling) is a wound that has healed. ‘Let’ (lett=German root spelling) 
        means to allow. This is also a serve in tennis that mistakenly hit the net but the player is allowed to serve again without penalty. 
        God has healed our wounds and is allowing us a ‘do over’ for His kingdom. What a great God we serve!
      </p>
    </div>

    <div class="small-12 columns">
      <p id="epk" style="text-align: center; clear: both;"><a target="_blank" class="button" href="http://www.tatemusicgroup.com/epk/?id=23634">Electronic Press Kit</a></p>
    </div>
</div>