<h1 class="top_h1"><%= page_title %></h1>

<div class="row">
  <div class="small-12 columns">
    <img id="img1" src="<%= aws_link('cloudfront') %>/www/img/missions/IMG_9832.jpg" alt="Good Shepherd Children's Home, Honduras - Team" />
  </div>
  <div class="small-12 columns">
    <p id="p1"><span>Isaiah 61:1-3 (paraphrased)</span><br />
      The Spirit of the Lord God is upon me, because the Lord has anointed me...to comfort all who mourn...to give them ...the garment of praise instead of a faint spirit...
    </p>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <p class="callout">To comfort all who mourn...</p>
  </div>
</div>

<div class="row">
  <div class="small-12 large-4 columns">
    <img id="img2" src="<%= aws_link('cloudfront') %>/www/img/missions/106.jpg" alt="Good Shepherd Children's Home, Honduras - Village" />
  </div>
  <div class="small-12 large-8 columns">    
    <p id="p2">It is our goal and mission to prepare the Body of Christ to meet Him. We desire to see the Holy Spirit ruling and reigning in His church as was Christ's desire found in The Gospels and then expressed in Acts 2. We also believe that He has given us some tools to use as we seek to do this. One of the greatest tools we have is music. In 2 Chronicles 20, the story of King Jehoshaphat shows the power of singing and praising God to release God's power into our situations. Obviously music is important to us as a band, but we have come to understand it is important in our battle as believers in Christ. </p>
  </div>
  <div class="small-12 large-4 columns">
    <img id="img3" src="<%= aws_link('cloudfront') %>/www/img/missions/106.jpg" alt="Good Shepherd Children's Home, Honduras - Village" />
  </div>
</div>

<div class="row">
  <div class="small-12 large-4 columns">
    <img  id="img4" src="<%= aws_link('cloudfront') %>/www/img/missions/140.jpg" alt="Good Shepherd Children's Home, Honduras - Walking..." />
  </div>
  <div class="small-12 large-8 columns">    
    <p id="p3">With that being said, Isaiah 61 is our focus passage for this ministry. In it we find some purpose and focus in traveling to other countries with the message and tools God has given us. We have been called to 'comfort' those who are struggling and mourning and help them make an exchange...we want them to exchange their 'faint spirit' with a 'garment of praise.' We want to help them praise God in all things and show them the song in their hearts that God has put there.</p>
  </div>
</div>

<div class="row">
  <div class="small-12 large-4 columns">
    <img  id="img5" src="<%= aws_link('cloudfront') %>/www/img/missions/146.jpg" alt="Good Shepherd Children's Home, Honduras - Cassie & Amy" />
  </div>
  <div class="small-12 large-8 columns">    
    <p id="p4">As we travel and minister here in the U.S., we encourage the body to rise up and praise Him using any funds we raise during that to get us to the mission field in other countries. We go to places that may have a 'faint spirit' and worship with them. We have witnessed the amazing power of God at work in people's lives as we lift up His Name in song and for a moment forget about our difficulties in the powerful presence of the Living God. We also want to teach them how to do what we do...meaning, we want to teach them how to play instruments and sing so that when we leave, the praising doesn't stop. Our hope is that as we teach them, we will be leaving them with a 'garment of praise' that they can put on whenever they need it to help themselves and help each other.</p>
  </div>
  <div class="small-12 large-4 columns">
    <img  id="img6" src="<%= aws_link('cloudfront') %>/www/img/missions/146.jpg" alt="Good Shepherd Children's Home, Honduras - Cassie & Amy" />
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <p class="callout">Give them a garnment of praise...</p>
  </div>
</div>

<div class="row">
  <div class="small-12 columns">
    <img  id="img7" src="<%= aws_link('cloudfront') %>/www/img/missions/IMG_9212.jpg" alt="Good Shepherd Children's Home, Honduras - Cassie Rainbow" />
  </div>
</div>

<div class="row">
  <div class="small-12 columns">    
    <p id="p5">We would love to have you be a part of what we do on the mission field! Please consider praying for us, coming with us, and/or supporting us financially.</p>
    <p class="text-center">
      <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=DQ42JF8EKRXWG" target="_blank" class="button">Financially Support Us</a>
    </p>
  </div>
</div>